DJANGO_SETTINGS_MODULE=config.settings.prod
DJANGO_SECRET_KEY=replace-with-a-long-random-secret
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=api.your-domain.com,your-backend-host.amazonaws.com
DJANGO_CSRF_TRUSTED_ORIGINS=https://your-frontend-domain.com,https://api.your-domain.com

POSTGRES_DB=zambia_remit
POSTGRES_USER=zambia_remit_user
POSTGRES_PASSWORD=replace-with-a-strong-password
POSTGRES_HOST=your-rds-hostname.amazonaws.com
POSTGRES_PORT=5432
POSTGRES_CONN_MAX_AGE=60

DJANGO_SECURE_SSL_REDIRECT=True
DJANGO_SECURE_HSTS_SECONDS=31536000
DJANGO_SECURE_HSTS_INCLUDE_SUBDOMAINS=True
DJANGO_SECURE_HSTS_PRELOAD=True
